*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: 0.3s all linear;
    box-sizing: border-box;
}

section{
    padding: 2rem 9%;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.top .box-container{
    display: flex;
    flex-wrap: wrap;
}

.top .box-container .box{
    flex: 1 1 20rem;
    background: rgb(177, 174, 174);
    padding: 1rem;
}

.top .box-container .box p{
    margin: auto;
    font-size: 1.8rem;
    padding: 0.5rem;
    text-align: left;
    font-family: 'Roboto', 'sans serif';
}

.top .box-container form{
    flex: 1 1 40rem;
    background: rgb(240, 190, 97);
    display: flex;
    align-items: center;
    justify-content: right;
}

.top .box-container form p{
    font-size: 1.5rem;
    padding-right: 5rem;
    font-size: 1.8rem;
    font-family: 'Roboto' , 'sans serif';
}

.top .box-container form .twitter{
    padding-right: 3rem;
    font-size: 2rem;
}

.top .box-container form .twitter i{
    margin-left: 1.5rem;
    cursor: pointer;
}

.top .box-container .twitter i:hover{
    color: #fff;
}
 

header{
    position:relative;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 1.3rem 9%;
}

header .logo img{
    width: 7rem;
    height: 6rem;
    border-radius: 5rem;
    object-fit: cover;
}

header h3{
    color: rgb(114, 167, 17);
    font-size: 2.5rem;
    margin-right: 13rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    cursor: pointer;
}

header h3:hover{
    color: azure;
}

header  .drop-content{
    position: absolute;
    width: 150px;
    box-shadow: 0px rgba(0,0,0,0.2);
    margin-top: 2.5rem;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0,100% 0, 0 0);
}

header .drop{
    position: relative;
    display: inline-block;
}

header  .drop-content.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}

header .drop-content a{
    display: block;
    text-decoration: none;
    background: #333;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    padding: 12px 14px;
    font-family: "Roboto";
}


header .drop:hover .drop-content{
    display: block;
}

#menu-bar{
    color: antiquewhite;
    padding: 0.7rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

header .navbar a{
    color: beige;
    margin-right: 1.5rem;
    font-size: 1.9rem;
    font-family: "Roboto";
}

header .navbar a:hover{
    color: olivedrab;
}

header .navbar  .h1{
    color: rgb(84, 161, 84);
}

header .navbar i{
    font-size: 2rem;
    color: rgb(238, 239, 240);
    cursor: pointer;
    margin-left: 1.5rem;
}

header .navbar span i{
    position: relative;
    margin-right: -3.3rem;
}

header .navbar i:hover{
    color: olivedrab;
}

img {vertical-align: middle;}


.slideshow-container{
    width: 100%;
    margin: auto;
    height: 100%;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  @keyframes fade{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
  }

  .fade {
    animation-name: fade;
    animation-duration: 7s;
  }


   
.home .content{
    position: absolute;
    align-items: center;
    flex-flow: column;
    display: flex;
    justify-content: center;
    z-index: 0;
    min-height: 100vh;
    width: 100%;
  }

  .home .content a{
    color: rgb(223, 240, 240);
    font-weight: bold;
  }
  
  .home .content h3{
    font-size: 5.2rem;
    color: #fff;
    font-family: 'candal' , sans-serif;
    font-stretch: extra-expanded;
    text-align: center;
    font-synthesis: style;
    font-weight: bolder;
    border: 4px solid rgb(166, 168, 168);
    background: rgb(1, 44, 30);
    border-radius: 10px;
    padding: 2rem;
  }
  
  #animate{
    width: 700px;
    height: 70px;
    position: relative;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name:content;
  }
  
  @keyframes content{
    from{right:40rem;}
    to{right: 0rem;}
  }
  
  .home .content h4{
    color: rgb(245, 250, 245);
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Roboto';
    margin-top: 20rem;
  }
  
  
  .home .content p{
    font-size: 2.5rem;
    font-family: "Roboto";
    margin-top: 12rem;
    background: rgb(223, 147, 8);
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .home .content p:hover{
    background: rgb(4, 60, 97);
    font-size: 1.8rem;
    transition: 1.2s;
  }

  
.review{
    padding: 5rem;
}

.slick-slide{
    margin: 0px 40px;
    align-items: center;
    justify-content: center;
  }

.slick-slide img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
    border-radius: 20rem;
}


.slick-slider
{
  position: relative;
  display: block;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  margin: 5px;
  padding: 2px;
}


.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}

.slick-track:after
{
  clear: both;
}

.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 5px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}




.content-1{
    background: rgb(245, 246, 247);
}

.content-1 .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.content-1 .box-container form{
    flex: 1 1 40rem;
}

.content-1 form  #bar .para-1{
    text-align: center;
    font-family: 'Roboto';
    font-size: 2em;
    line-height: 1.4em;
}

.content-1 .box-container form img{
    width: 12rem;
    height: 8rem;
    margin-left: 23rem;
}

.content-1 .box-container .image{
    flex: 1 1 20rem;
    padding: 1rem;
}

.content-1 .box-container .image img{
    width: 280px;
    height: 280px;
    border-radius: 25rem;
    text-align: center;
    margin-left: 6rem;
    margin-top: -5rem;
}

.content-1 .box-container form h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.content-1 .box-container form h3 span{
    font-weight: bold;
    color: rgb(109, 214, 109);
}

.content-1 .box-container form p{
    font-size: 2.2rem;
    color: rgb(24, 23, 21);
    font-family: 'Roboto' , sans-serif;
}

.content-1 .box-container .title h4{
    margin-top: 6rem;
    margin-left: 5rem;
    font-size: 1.5rem;
}

.content-1 .box-container .title h4 span{
    color: rgb(108, 204, 108);
    font-size: 2.5rem;
}


.package{
    margin-top: 6rem;
}

.package .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.package .box-container .box{
    flex: 1 1 25rem;
    height: 30rem;
    cursor: pointer;
}

.package .box-container .box:hover{
    -webkit-transform: scale(1.1);
    transition: 1s;
}

.package .box-container .box i{
    font-size: 5rem;
    color: rgb(58, 117, 58);
    margin-left: 5rem;
    margin-top: 2rem;
}

.package .box-container .box h3{
    margin-left: 5rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    font-family: 'Roboto';
}

.package .box-container .box p{
    margin-left: 5rem;
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Roboto';
}

.package .box-container .box .star i{
    color: rgb(179, 179, 150);
    font-size: 3rem;
    margin-top: 4rem;
}

.package .box-container .box .decoration{
    background: rgb(129, 221, 129);
    padding: 1rem;
    border-radius: 15px;
}

.friend .box-container{
    background-color: rgb(232, 233, 232);
    display: flex;
    flex-wrap: wrap;
}

.friend .box-container .box{
    flex: 1 1 30rem;
    justify-content: center;
}

.friend .box img{
    width: 100%;
    text-align: center;
    padding: 1rem;
    height: 300px;
    border-radius: 50px;
    cursor: pointer;
    margin: 1rem;
    object-fit: cover;
}

.friend .box-container .box h3{
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto' , 'sans serif';
}

.friend .box-container .box p{
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto';
}

.friend .content{
    text-align: center;
    padding: 1rem;
    background-color: rgb(174, 179, 177);
}

.friend .content h6{
    color: aliceblue;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Roboto', 'sans serif';
    color: rgb(0, 0, 0);
}

.friend .content h1{
    margin-top: 2rem;
    font-size: 3rem;
    font-family: 'Roboto' , 'sans serif';
}

.friend .box{
    position: relative;
}

.friend .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}


.container{
    margin-top: 4rem;
    background-color: rgb(226, 226, 226);
}

.container .box-container{
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
}

.container .box-container .box{
    flex: 1 1 30rem;
    padding: 1rem;
}

.container .box-container .path{
    flex: 1 1 30rem;
    padding: 1rem;
}

.container .box-container .box .image img{
    width: 280px;
    height: 300px;
    border-radius: 10px;
}

.container .box-container .box .images img{
    width: 280px;
    height: 300px;
    margin-left: 15rem;
    margin-top: -90px;
    border-radius: 10px;
}

.container .box-container .box .imager img{
    margin-left: 20rem;
    width:140px;
    height: 120px;
    border-radius: 30rem;
    margin-top: -380px;
    position: absolute;
}

.container .box-container .path h6{
    font-size: 2rem;
    color: rgb(15, 92, 15);
    margin-top: 2.6rem;
    margin-bottom: 2rem;
    font-family: "Roboto" , "sans-serif";
}

.container .box-container .path h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: 'Roboto';
}

.container .box-container .path img{
    width: 0.5rem;
    height: 3.8rem;
}

.container .box-container .path h5{
    margin-left: 1.5rem;
    margin-top: -4rem;
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-weight: bold;
}

.container .box-container .path p{
    margin-top: 2.5rem;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family: 'Roboto';
}

.container .box-container .path .icon img{
    width: 85px;
    height: 65px;
    margin-top: 1rem;
    margin-left: -2.2rem;
    border-radius: 35rem;
}

.container .box-container .path .icon h3{
    margin-left: 7rem;
    font-size: 1.8rem;
    margin-top: -5rem;
    font-family: "Roboto";
}

.container .box-container .path .icons img{
    width: 85px;
    height: 65px;
    margin-left: 20rem;
    margin-top: -6rem;
}

.container .box-container .path .icons h3{
    margin-left: 32rem;
    font-size: 1.8rem;
    margin-top: -6rem;
    font-family: "Roboto";
}

.container .box-container .path h4{
    margin-top: 5.5rem;
    font-size: 1.9rem;
    background: orange;
    padding: 0.5rem;
    border-radius: 5px;
    width: 160px;
    cursor: pointer;
    font-family: "Roboto";
}

.container .box-container .path h4:hover{
    background: rgb(5, 77, 136);
}


.image{
    margin-top: 5rem;
}

.image .getty video{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    left: 0;
}

.image .overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
}

.image .overlay h1{
    color: rgb(255, 255, 255);
    font-family: 'Roboto'; 
    font-size: 4rem;
    margin: 2rem 3rem 0;
    mix-blend-mode:overlay;
    text-align: center;
    padding: 5px 15px;
    font-weight: bold;
}

.products{
    margin-top: 5rem;
    background-color: rgb(246, 250, 250);
}

.products h2{
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
    margin-bottom: 3rem;
    font-family: "Roboto" , "sans-serif";
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.products .box-container .box{
    flex: 1 1 20rem;
    cursor: pointer;
}

.products .box-container .box img{
    width: 100%;
    border-radius: 15px;
    height: 75%;
}

.products .box-container .box .content h1{
    margin-bottom: 1rem;
    font-size: 2.1rem;
    font-family: "Roboto";
}

.products .box-container .box .content p{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: "Roboto";
}

.products .box-container .box .price{
    font-size: 2rem;
    color: #333;
    font-weight: bolder;
}

.products .box-container .box .price i{
    margin-left: 2rem;
    color: orange;
}

.products h3{
    margin-top: 7rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Roboto";
}

.products h3 span{
    background: rgb(187, 132, 31);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.8rem;
    font-family: "Roboto";
}

.products h3 span:hover{
    background: rgb(131, 172, 189);
}

.feed h5{
    text-align: center;
    color: rgb(10, 73, 10);
    font-size: 2rem;
    font-family: "Roboto";
}

.feed h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'Roboto';
}

.feed .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.feed .box-container .image{
    flex: 1 1 20rem;
    padding: 1rem;
  }
  
  .feed .box-container .image img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .feed .box-container .image h4{
    color: rgb(84, 165, 84);
    font-size: 1.5rem;
  }
  
  .feed .box-container .image h2{
    margin-top: 3rem;
    font-size: 1.9rem;
    font-family: "Roboto";
  }
  
  .feed .box-container .image p{
    margin-top: 4rem;
    font-size: 2rem;
    font-family: "Roboto" , "verdana";
  }
  
  .feed .box-container .image .logo img{
     width: 4rem;
     height: 4rem;
     object-fit: cover;
     border-radius: 5rem;
     margin-top: 5.5rem;
  }
  
  .feed .box-container .image .logo span{
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    margin-top: 6.8rem;
    font-family: "Roboto";
  }

.arrows{
    text-align: center;
    margin-top: 6rem;
}

.arrows i{
    margin-left: 3rem;
    font-size: 5.5rem;
    color: gray;
    cursor: pointer;
}

.arrows span i{
    color: rgb(110, 207, 110);
}

.packages{
    background-image: url("back-3.jpeg");
}

.packages h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: "Roboto";
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 35%;
    padding: 0 4px;
    object-fit: cover;
}

.column img{
    margin-top: 6px;
    vertical-align: middle;
    width: 100%;
}


.client{
    margin-top: 5rem;
    background: rgb(245, 248, 248);
}

.client h6{
    text-align: center;
    color: rgb(31, 105, 31);
    font-size: 2rem;
    font-family: "Roboto";
}

.client h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-family: "Roboto";
}

.client h3{
    font-size: 2rem;
}

.client h5{
    font-size: 2rem;
}

.client .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

.client .box-container .box{
    flex: 1 1 30rem;
    margin-top: 10rem;
    padding: 1rem;
    margin: 1rem;
}

.client .box-container .box i{
    font-size: 3rem;
    margin-left: 2rem;
    color: rgb(136, 197, 136);
}

.client .box-container .box .stars i{
    color: orange;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.client .box-container .box p{
    margin-top: 1rem;
    font-size: 2.1rem;
    font-family: 'Roboto';
}

.client .box-container .box h5{
    text-align: center;
    color: gray;
    font-family: "Roboto";
}

.client .box-container .box h3{
    text-align: center;
    margin-top: 1rem;
    font-family: 'Roboto';
}

.client .box-container .box .sec{
    border: 3px solid rgb(89, 173, 89);
    padding: 2rem;
}

.client .icn{
    text-align: center;
    margin-top: 3rem;
}

.client .icn i{
    font-size: 5rem;
    margin-right: 2.5rem;
    color: gray;
    cursor: pointer;
}

.client .icn span i{
    color: rgb(105, 185, 105);
}

.row{
    height: 100%;
}

.row img{
    height: 350px;
    object-fit: cover;
}

.row .first img{
    position: absolute;
    margin-top: 5rem;
}


.footer{
    margin-top: 6rem;
    background-image: linear-gradient( rgb(70, 158, 70),rgb(175, 141, 79));
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .box-container .input{
    flex: 1 1 25rem;
    padding: 1rem;
}

.footer .box-container .input a{
    display: block;
    margin-top: 1.9rem;
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Roboto';
}

.footer .box-container .input a:hover{
    color:rgb(223, 163, 52);
}

.footer .input i{
    color: whitesmoke;
    font-size: 2rem;
}

.footer .box-container .input .fou h3{
    font-family: 'Roboto';
    font-size: 2rem;
    color: whitesmoke;
    text-decoration: none;
}

.footer .box-container .input .fir img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5rem;
    cursor: pointer;
}

.footer .box-container .input .fir h3{
     margin-left: 5rem;
     margin-top: -4.4rem;
     color: rgb(223, 221, 217);
     font-size: 2rem;
     font-family: "Roboto";
     letter-spacing: 0.2em;
}

.footer .box-container .input .fir h5{
    margin-left: 5rem;
    color: white;
    font-size: 2rem;
    font-family: "Roboto";
}

.footer .box-container .input .fir h6{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 1.7rem;
    font-family: 'Roboto';
}

.footer .box-container .input .fir h4 i{
    font-size: 2rem;
    margin-right: 0.6rem;
    margin-top: 1rem;
    color: aliceblue;
}

.footer .box-container .input .fir h4{
    margin-top: 0.9rem;
    color: rgb(253, 253, 253);
    font-size: 2rem;
    font-family: 'Roboto';
}

.footer .box-container .input h3{
    color: rgb(216, 230, 225);
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.footer .box-container .input .fou i{
    color: rgb(205, 225, 226);
    font-size: 1.8rem;
}

.footer .box-container .input .sec{
    margin-top: 2.4rem;
    margin-left: 0.2rem;
}

.footer .box-container .input .thr p{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Roboto';
}

.footer .box-container .input .thr h3{
    font-family: "Roboto";
    font-size: 2rem;
    color: white;
    font-weight: 600;
}

.footer .box-container .input .thr h5{
    background: azure;
    width: 180px;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 5rem;
    font-family: 'Roboto';
}

.footer .box-container .input .thr i{
    color: rgb(224, 230, 230);
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 2rem;
}

.footer h2{
    text-align: center;
    margin-top: 8rem;
    font-size: 2rem;
    cursor: pointer;
    background: rgb(245, 204, 129);
    padding: 2rem;
    font-family: 'Roboto';
}

.footer #path{
    width: 100%;
    margin-top: -6rem;
}


@media (max-width:1300px){
    body{
        width: 100%;
        overflow: hidden;
    }

    .review {
        margin-top: 5rem;
    }
}



@media (max-width:1200px){
    html{
        font-size: 56.5%;
    }

    .slideshow-container img{
        height: 700px;
    }

    body{
        width: 100%;
        overflow: hidden;
    }

    header{
        padding: 1rem;
    }

    section{
        width: 100%;
        padding: 1rem;
    }

    .friend .box{
        display: block;
        text-align: center;
    }
    
    .column {
        flex: 50%;
        max-width: 50%;
     }

     .home .image img{
        height: 1000px;
      }
     
    .review{
        margin-top: 6rem;
    }
}

@media (max-width:1024px){
    .home .image img{
        height: 800px;
      }

    .container .box-container .path h4{
        margin-top: 10rem;
    }
}

@media (max-width:991px){
    header{
        padding: 1rem;
    }

    .third{
        width: 100%;
        object-fit: cover;
    }

    section{
        padding: 1rem;
    }

      .home{
          width: 100%;
          text-align: center;
      }

      .column {
        flex: 50%;
        max-width: 50%;
      }

      .home .image img{
        height: 1000px;
      }
}

@media (max-width:768px){
    #menu-bar{
        display: initial;
    }

    .slideshow-container img{
        height: 700px;
    }

    .slideshow-container a{
        display: none;
    }

    .poss i{
        display: none;
    }

    .row .first img{
        height: 300px;
        position: absolute;
        margin-top: 20rem;
    }

    .row .first img{
        height: 200px;
        width: 280px;
    }

    #animate{
        width: 100%;
    }

    .content-1 .box-container form h3{
        text-align: center;
    }

    .content-1 .box-container form img{
        text-align: center;
    }

    .container .box-container{
        flex-direction: column;
        row-gap: 10rem;
        align-items: center;
    }


    .packages{
        width: 100%;
        object-fit: cover;
    }

    .packages #last img{
        width: 100%;
        object-fit: cover;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        align-items: center;
        background: #333;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
        z-index: 1001;
    }

    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        margin-top: 3.5rem;
        margin-bottom:0.5rem;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    header .navbar #var{
        display: none;
    }

    header .navbar i{
        display: none;
    }

    #image .box-container{
        width: 100%;
        object-fit: cover;
    }

    .friend .box{
     display: block;
     text-align: center;
    }
    
    .home .content p{
        text-align: center;
    }

    .products .box-container .box img{
        width: 100%;
    }

    .column{
        flex: 100%;
        max-width: 100%;
      }
    
      .home .image img{
        height: 1000px;
      }

      .slick-slide img{
        height: 100%;
        width: 70px;
        object-fit: cover;
      }

      .content-1 .box-container form img{
          margin-left: 15rem;
      }

}

@media  screen and (max-width:412px){
      #image .img{
       width: auto;
       overflow: hidden;
      }
      .content-1 .box-container .image img{
        margin-left: 4rem;
    }

      .review{
        margin-top: 6rem;
    }

    .content-1{
        margin-top: 1rem;
    }



    .row .first img{
        height: 180px;
        width: 250px;
        position: absolute;
        margin-top: 26rem;
    } 

    body{
        overflow: hidden;
    }

    .row{
        height: auto;
    }


}

@media (max-width:400px){
    .home .image img{
        height: 950px;
      }
}

@media only screen and (max-width: 300px) {
    .prev, .next{font-size: 11px}
  }


@media (max-width:390px){
    .home .image img{
        height: 950px;
      }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }

    .container .box-container .path .icon h3{
        margin-left: 9rem;
    }

    .container .box-container .path .icons img{
        margin-top: -12rem;
    }


    .home .content h4{
        margin-top: 25rem;
    }

    #image .box-container{
        width: fit-content;
    }

    .feed .box-container .image img{
        justify-content: center;
    }

    .content-1 .image img{
        text-align: center;
    }

    .footer h2{
        width: 100%;
    }

    .feed .treat .friend .package .image .logos{
        width: 100%;
    }

    .home{
        width: 100%;
        justify-content: center;
    }

    .home .image img{
        height: 1000px;
      }

    .top .box-container .box p{
        text-align: center;
    }

    .top .box-container form p{
        text-align: center;
    }

    header h3{
    display: flex;
    margin-right: 5rem;
}

}

@media (max-width:412px){
    .feed .box-container img{
        width:100%;
        object-fit: cover;
    }

     .customer-logo::-webkit-scrollbar{
         overflow: hidden;
     }

}

@media (max-width:375px){
    html{
        font-size: 56.5%;
    }

    .container .box-container .path .icon h3{
        margin-left: 9rem;
    }

    .container .box-container .path .icons img{
        margin-top: -12rem;
    }

    header{
        padding: 1rem;
    }

    section{
        width: 100%;
        padding: 1rem;
    }

    .friend .box{
        display: block;
        text-align: center;
       }
    
    .column {
        flex: 50%;
        max-width: 50%;
     }

     .home .image img{
        height: 1000px;
      }

    .third{
        width: 100%;
        object-fit: cover;
    }

    section{
        padding: 1rem;
    }

      .home{
          width: 100%;
          text-align: center;
      }

      #menu-bar{
        display: initial;
    }

    #animate{
        width: 100%;
    }

    .container .box-container{
        flex-direction: column;
        row-gap: 10rem;
        align-items: center;
    }

    .packages{
        width: 100%;
        object-fit: cover;
    }

    .packages #last img{
        width: 100%;
        object-fit: cover;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        align-items: center;
        background: #333;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        margin-top: 3.5rem;
        margin-bottom:0.5rem;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    header .navbar #var{
        display: none;
    }

    header .navbar i{
        display: none;
    }

    #image .box-container{
        width: 100%;
        object-fit: cover;
    }

    .friend .box{
     display: block;
     text-align: center;
    }
    
    .home .content p{
        text-align: center;
    }

    .products .box-container .box img{
        width: 100%;
    }

    .column {
        flex: 100%;
        max-width: 100%;
      }
    
      .home .image img{
        height: 1000px;
      }

      html{
        font-size: 50%;
    }

    .footer h2{
        width: 100%;
    }

    .feed .treat .friend .package .image .logos{
        width: 100%;
    }

    .home{
        width: 100%;
        justify-content: center;
    }

    .home .image img{
        height: 970px;
      }
    
      header h3{
          text-align: center;
      }
}